text{
    font-family: avenir;
}

body {
    background-color: #252422;
    font-family: avenir;
}

  #title{
      color: #EB5E28;
  }

  #yeet{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:100vh;
      
  }

  #startButton{
    border: 1px solid #CCC5B9;
    font-family: avenir;
    border-radius: 10px;
    color: #CCC5B9;
    background-color: transparent;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transform: background-color 200ms ease-in-out;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#startButton:hover {
    background-color:#EB5E28;
    box-shadow: 0px 10px 10px #BA5027;
    color: #fff;
    transform: translateY(-7px);
  }
